body{
    background-color: black;
    overflow-x: hidden;
}


/* scrollbar color */
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: black;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: yellow; 
    border-radius: 4px;
  }